<div class="content">
  <mat-card class="header-card">
    <div *ngIf="!loading && !checkReady">
      <h3>{{ 'Drop scenario zip to check' }}</h3>
    </div>
    <div *ngIf="loading">
      <h3>Loading, Please wait</h3>
    </div>
    <div *ngIf="!loading && checkReady">
      <h3>{{ missings.length > 0 ? 'Missing files: ' + missings.length : 'All files are present' }}</h3>
    </div>
    <div>
      <button mat-button color="success" (click)="startOver()" [disabled]="loading">Start Over</button>
      <button *ngIf="copiedList.length > 0" mat-button color="success" (click)="resetCopy()" [disabled]="loading">Reset Copy</button>
    </div>
  </mat-card>
  <mat-card class="container">
    <mat-card class="card-drop" *ngIf="!loading && !checkReady">
      <div class="dropzone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)">
        <mat-icon>cloud_upload</mat-icon>
        <div class="dropzone-text">Drag and drop your zip file here</div>
      </div>
    </mat-card>
    <mat-card class="card-drop" *ngIf="loading">
      <mat-spinner style="margin: auto;"></mat-spinner>
    </mat-card>
    <mat-card *ngIf="!loading && checkReady">
      <mat-accordion>
        <mat-expansion-panel
          hideToggle
          #expansionPanel
          [expanded]="isExpanded(missing)"
          *ngFor="let missing of missings"
          (click)="onSelectionChange($event, missing, expansionPanel); $event.stopPropagation(); $event.preventDefault();"
          [ngClass]="{'selected-item': inCopied(missing)}"
        >
          <mat-expansion-panel-header>
            <mat-panel-title [style.color]="inCopied(missing) ? 'white' : 'black' " >
              {{ missing.path }}
              <button
                mat-icon-button
                class="button-list-item-element"
                style="margin-left: auto;"
                *ngIf="!isExpanded(missing)"
                [color]="inCopied(missing) ? 'accent' : 'primary'"
                (click)="expandItem($event, missing)"
              >
                <mat-icon>add_box</mat-icon>
              </button>
              <button
                mat-icon-button
                class="button-list-item-element"
                style="margin-left: auto;"
                *ngIf="isExpanded(missing)"
                [color]="inCopied(missing) ? 'accent' : 'primary'"
                (click)="contractItem($event)"
              >
                <mat-icon>indeterminate_check_box</mat-icon>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card style="padding: 12px;">
            <h3>Asset Names: </h3>
            <h5 *ngFor="let assetName of missing.assetNames" >{{assetName}}</h5>
            <mat-divider></mat-divider>
            <h3>Asset Ids: </h3>
            <h5 *ngFor="let assetId of missing.assetIds" >{{ assetId }}</h5>
          </mat-card>
          <mat-divider></mat-divider>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-card>
</div>
